/* Custom theme color (Not Base16) */
.theme-base-10 .sidebar {
  background-color: #36447c;
}
.theme-base-10 .content a,
.theme-base-10 .related-posts li a:hover {
  color: #8290C9;
}


/* Archive  */

.archive-post-list h2{
    margin-bottom: 0
}

.archive-post-list ul {
    list-style-type: none
}

.archive-post-list li {
    margin-bottom: 0
}

.archive-list {
    margin-left: 0;
    list-style: none
}

.archive-meta {
    font-size: 20px;
    color: #8290C9;
    overflow: hidden;
    margin: 0
}